@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* colors */
  --soft-white-bg: hsla(0, 0%, 100%, 0.14);
  --font-white: hwb(0 100% 0%);
  --bg-hover: hsla(0, 0%, 100%, 0.3);

  /* borders */
  --soft-white-border: 1px solid hsla(0, 0%, 100%, 0.18);

  /* responsive font sizes */
  /* courtesy of https://css-tricks.com/snippets/css/fluid-typography/ */
  /* formula: calc([min size] + ([max size] - [min size]) * ((100vw - [min vw]) / ([max vh] - [min vw]))); */
  --x-small-font: calc(15px + (20 - 15) * ((100vw - 315px) / (1600 - 315)));
  --small-font: calc(16px + (26 - 16) * ((100vw - 315px) / (1600 - 315)));
  --medium-font: calc(24px + (30 - 24) * ((100vw - 315px) / (1000 - 315)));
  --large-font: calc(32px + (42 - 32) * ((100vw - 315px) / (1000 - 315)));
  --x-large-font: calc(72px + (83 - 72) * ((100vw - 315px) / (1000 - 315)));
}

body {
  height: 100vh;
  font-family: "Jost", sans-serif;
  font-size: 16px;
}

p {
  text-align: center;
  color: var(--font-white);
}

h1 {
  font-size: 1.3rem;
}

h3 {
  color: var(--font-white);
}

input {
  text-align: center;
}

#unit {
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  color: var(--font-white);
  transition: ease 0.3s;
}

#unit::after {
  /* content: "\00B0"; */
  position: absolute;
}

#Zip {
  font-family: "Jost", monospace;
  height: 36px;
  width: 140px;
  padding: 7px 9px;
  color: var(--font-white);
  font-weight: 300;
  font-size: 1.1rem;
}

#Zip::placeholder {
  font-weight: 200;
  text-align: center;
  font-size: 1.1rem;
  color: hsla(0, 0%, 100%, 0.792);
}

#Zip:focus,
#Zip:active {
  border: 1px solid rgba(255, 255, 255, 0.324);
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  text-align: center;
  font-weight: 300;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  border: none;
  outline: none;
}

/* HEADER */
.logo {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
}

.main-container {
  /* height: 900px; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
  padding-top: 3rem;
}

.weather-container {
  /* display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  grid-template-rows: auto;
  grid-auto-flow: row; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 1.2rem;
}

.heading {
  font-weight: 900;
  font-size: 1.2rem;
  margin-top: 5px;
  color: var(--font-white);
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1.5rem;
  color: var(--font-white);
}

.location {
  font-size: var(--large-font);
}

.location-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem;
  gap: 1rem;
}

.location.region {
  margin-top: -12px;
  font-weight: 200;
}

.current-temp {
  font-size: var(--x-large-font);
  color: var(--font-white);
}

.temperature-stats {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.feels-like-container,
.wind-stats-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.feels-like {
  font-size: var(--small-font);
}

.weather-stats-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wind-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.weather-data-header {
  font-size: var(--small-font);
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  border-bottom: 1px solid var(--font-white);
}

.weather-data-value {
  font-size: var(--medium-font);
  color: var(--font-white);
}

.weather-data {
  margin-bottom: 7px;
}

.header {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  z-index: 3;
}

.header > button {
  border-radius: 50%;
  padding: 10px;
  background: none;
  border: none;
  color: var(--font-white);
  font-weight: 800;
}

.header > button:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.region {
  color: var(--font-white);
  font-weight: 300;
}

.condition {
  font-size: var(--large-font);
  padding-bottom: 5px;
}

.small-txt {
  font-size: var(--x-small-font);
  color: var(--font-white);
  font-weight: 200;
}

.glassify {
  background: hsla(0, 0%, 100%, 0.024);
  border-radius: 16px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid hsla(0, 0%, 100%, 0.082);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  z-index: 1;
}

.submit {
  visibility: hidden;
  opacity: 0;
  transition: ease-in 0.5s;
}

.active {
  visibility: visible;
  opacity: 1;
}

/* TOGGLE SWITCH */
#Toggle {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 14px;
}

.toggle {
  display: inline-block;
  cursor: pointer;
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  margin-right: 10px;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: hsla(0, 0%, 100%, 0.706);
  transition: background 0.2s;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: hsla(60, 6%, 17%, 0.663);
  z-index: 3;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
  z-index: 3;
}

.fa-x {
  font-size: 1rem;
}

.fa-github {
  font-size: 20px;
  color: var(--font-white);
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

.fa-arrow-up {
  color: var(--font-white);
  font-size: 1.5rem;
  /* transition: ease-in-out 1s; */
}

.fa-check {
  font-size: 20px;
}

.footer-text {
  font-size: 0.8rem;
}

footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 3;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: default;
}

@media (max-width: 650px) {
  .weather-container {
    grid-template-columns: repeat(2, 1.5fr);
  }
}

@media (max-width: 350px) {
  .weather-container {
    grid-template-columns: repeat(1, 1.5fr);
  }
}
