*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

:root {
  /* colors */
  --soft-white-bg: rgba(255, 255, 255, 0.14);

  /* borders */
  --soft-white-border: 1px solid rgba(255, 255, 255, 0.18);
}

body {
  height: 100vh;
}

p {
  text-align: center;
  color: white;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  border: none;
  outline: none;
}

.main-container {
  height: 900px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.weather-container {
  display: grid;
  grid-template-columns: repeat(5, 1.5fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.heading {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 5px;
  color: white;
}

.location-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.input {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.7rem;
}

.input > input {
  background: var(--soft-white-bg);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 8px;
  color: white;
  font-wight: 800;
}

.input > input:active {
  border: 2px solid rgba(255, 255, 255 0.3);
  outline: none;
}

.input > button {
  border-radius: 50%;
  border: none;
  padding: 10px;
  background: var(--soft-white-bg);
  color: white;
  border: var(--soft-white-border);
}

.input > button:hover {
  cursor: pointer;
}

.data {
  height: 50px;
  width: 150px;
}

.condition {
  font-size: 1.3rem;
  padding-bottom: 5px;
}

.small {
  font-size: 0.6rem;
  color: darkgrey;
  font-weight: 400;
}
